@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Contato:</strong>   <a href="mailto:tiagofabre@gmail.com">tiagofabre@gmail.com</a><br />
</address>
<address>
    <strong>Contato:</strong>   <a href="https://www.linkedin.com/profile/view?id=141341623">www.linkedin.com/profile/view?id=141341623</a><br />
</address>
